In [12]:
import sys
import os
# Add the parent directory to the Python path
script_dir = os.getcwd() # Get the current working directory
sys.path.append(os.path.abspath(os.path.join(script_dir, '..')))

import pandas as pd
from src.paths import TRANSFORMED_DATA_DIR

df = pd.read_parquet(TRANSFORMED_DATA_DIR / 'label_encoded_churn_data.parquet')
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [13]:
from src.data_split import train_test_split_stratified

X_train, y_train, X_test, y_test = train_test_split_stratified(
    df,
    target_column_name='Exited'
)

print(f'{X_train.shape=}')
print(f'{y_train.shape=}')
print(f'{X_test.shape=}')
print(f'{y_test.shape=}')

X_train.shape=(8000, 10)
y_train.shape=(8000,)
X_test.shape=(2000, 10)
y_test.shape=(2000,)

In [14]:
import numpy as np

class BaselineModelPreviousHour:
    """
    Prediction = all customers are unchurned
    """
    def fit(self, X_train: pd.DataFrame, y_train: pd.Series):
        pass
    
    def predict(self, X_test: pd.DataFrame) -> np.array:
        """"""
        dim= len(X_test)
        return np.zeros(dim)

In [15]:
model = BaselineModelPreviousHour()
predictions = model.predict(X_test)
predictions

array([0., 0., 0., ..., 0., 0., 0.])

In [17]:
from sklearn.metrics import accuracy_score,recall_score, f1_score

test_accuracy = accuracy_score(y_test, predictions)
test_recall = recall_score(y_test,predictions )
test_f1 =f1_score(y_test,predictions)
print(f'{test_accuracy=:.4f}')
print(f'{test_recall=:.4f}')
print(f'{test_f1=:.4f}')

test_accuracy=0.7965
test_recall=0.0000
test_f1=0.0000